.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: center;
  min-height: 110px;
  font-size: calc(10px + 2vmin);
  color: rgb(226, 217, 190);
  border: solid 1px orange;
  border-radius: 7px;
  transition: all 300ms;
  animation: fade-in 300ms ease-out forwards;
  opacity: 0.01;
}

/* collapsable target */
.menu__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 50px;
}

@keyframes fade-in {
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}