.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: aliceblue;
  width: max-content;
  position: relative;
  padding: 2em;
  z-index: 3;
}

.message {
  color: var(--button-color);
  font-size: 2em;
}

path {
  fill: var(--button-color);
}

.rings_container {
  position: relative;
}

.rings {
  stroke: var(--button-color);
}

.connect {
  padding-bottom: 1rem;
}
