.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: red 5px solid;
  background-color: rgb(255, 145, 145);
  color: aliceblue;
  width: max-content;
  position: relative;
  padding: 1.5em;
  border-radius: 5px;
  z-index: 3;
}

.back {
  position: absolute;
  top: 10px;
  right: 10px;
}

.back:hover svg path {
  stroke: #ffffff;
}

.button {
  padding: 1em;
}

.message_title {
  font-size: 3em;
  color: red;
}

.message {
  color: red;
  font-size: 2em;
  /* padding-bottom: 1em; */
}