.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 70px;
}

.position {
  padding-bottom: 10px;
  opacity: 0.1;
  animation: fade-in-visualizer 800ms ease-in forwards;
}

.position--lower {
  /* position: relative; */
  opacity: 0.1;
  animation: fade-in-utopics 1000ms ease-out 500ms forwards;
  /* right: 100px; */
}

.bars {
  position: absolute;
  margin: auto;
  bottom: -80px;
  /* left: 200px; */
  opacity: 0;
  animation: fade-in-gif 1000ms linear 700ms forwards;
}

@keyframes fade-in-visualizer {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-utopics {
  0% {
    opacity: 0.1;
    right: 10px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes fade-in-gif {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}