.container__button {
  display: flex;
  position: absolute;
  padding: 5px;
}

.button--position {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 200px;
  padding: 1em;
  border: solid blanchedalmond 5px;
  background-color: rgba(54, 64, 255, 0.724);
  border-radius: 35px;
}

.button {
  padding: 7px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 15px;
  background-color: rgba(8, 18, 212, 0.724);
  color: blanchedalmond;
  transition: 300ms;
}

.button:hover {
  cursor: pointer;
  padding: 10px;
  background-color: aquamarine;
  color: violet;
  transform: scaleY(1.1);
  /* transform: scale(1.1); */
}

.player-container {
  opacity: 0.01;
  visibility: hidden;
}

.open-it {
  animation: inAnimation 6000ms forwards;
}

.close-it {
  animation: outAnimation 500ms forwards;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}