/* .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .video--wrapper {
  position: relative;
  display: block;
  width: 100%;
} */

.player-container {
  opacity: 0.01;
  visibility: hidden;
}

.open-it {
  animation: inAnimation 6000ms forwards;
}

.close-it {
  animation: outAnimation 500ms forwards;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}