/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.box {
  position: absolute;
  border-radius: 5px;
  margin: auto;
  inset: 0;
  height: 60%;
  width: 60%;
  background-color: #fff;
  overflow-y: scroll;
  color: var(--button-color)
}

.submit {
  position: absolute;
  border-radius: 5px;
  /* height: 3em; */
  padding: 1em;
  max-height: fit-content;
  max-width: fit-content;
  background-color: #fff;
  margin: auto;
  bottom: 10%;
  left: 0;
  right: 0;

}

.submit button {
  border: none;
  background-color: var(--button-color);
  color: #fff;
  margin-left: 1em;
  padding: 8px 22px 8px 22px;
  border-radius: 5px;
}

.h2 {
  text-align: center;
}

.box p {
  position: relative;
  margin: 1em;
  margin-right: 2em;
}