/* this is the 100x100 event listener & container */
.container {
  /* border: 5px red solid; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 2;
}

.controls__group {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 50px;
  left: 40px;
}